@using GuessTheNumber.Utils
<h2>Welcome, @ViewBag.PlayerName</h2>
@Html.ActionLink("You can change your name" , "Logout", "Account", null , new { @class = "btn btn-success"})
<hr />
@{ 
    string playersList = "Players on server: ";
}
 
@foreach (var player in Game.Players)
{
    playersList += player.Name + " ";
}

@playersList
<h3>No number is set, start the game!</h3>
    <form method="post" action="/Game/StartGame">
        <div class="form-group">
            <label for="number">Enter the number to start:</label>
            <input type="number" class="form-control" name="number" required autofocus>
        </div>
        <button type="submit" id="login" class="btn btn-success">Start</button>
    </form>

