<form method="post" action="/Account/Login">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" required>
        <p class="bg-danger">@ViewBag.Alert</p>
    </div>
    <button type="submit" id="login" class="btn btn-default">Login</button>
</form>
    