@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Forgot Password Confirmation"];
}

<h2>@ViewData["Title"].</h2>
<p>
    @localizer["Please check your email to reset your password."]
</p>
