@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"].</h1>
<p>
    @localizer["Your password has been reset. Please <a asp-controller=\"Account\" asp-action=\"Login\">Click here to log in</a>"].
</p>
